// BASE

@mixin media-query($minSize, $maxSize: 0) {
   @if $maxSize != 0 {
      @media screen and (min-width: $minSize) and (max-width: $maxSize - 1px) {
         @content;
      }
   }
   @else {
      @media screen and (min-width: $minSize) {
         @content;
      }
   }
}

// TYPOGRAPHY STYLING

@mixin typography($size, $weight, $line-height) {
   font-size: $size;
   font-weight: $weight;
   line-height: calc(#{$size} * #{$line-height});
}

// TRANSITIONING

@mixin verticalTranslation($y-offset: 5px) {
   @extend %base_transition;
   &:hover {
      box-shadow: $shadow-xs;
      transform: translateY($y-offset);
   }
}
