// BASE

@mixin media-query($size) {
   @media screen and (min-width: $size) {
      @content;
   }
}

// TYPOGRAPHY STYLING

@mixin typography($size, $weight, $line-height) {
   font-size: $size;
   font-weight: $weight;
   line-height: calc(#{$size} * #{$line-height});
}

// TRANSITIONING

@mixin verticalTranslation($y-offset: 5px) {
   @extend %base_transition;
   &:hover {
      box-shadow: $shadow-xs;
      transform: translateY($y-offset);
   }
}