// MAJOR UTILITY STYLING

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Roboto+Slab:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
   font-family: $font-roboto;
   background: $color-primary;
}

button:focus, button:active {
   outline: none;
}

html {

   *::-webkit-scrollbar {
      width: 7px;
      height: 7px;
      background-color: transparent;
   }

   *::-webkit-scrollbar-track {
      background-color: transparent;
   }

   *::-webkit-scrollbar-thumb {
      background-color: $color-secondary;
      border-radius: 4px;
   }

}

.scale-out-enter-active, .scale-out-leave-active,
.main__modal-wrapper {
   @extend %base_transition;
}

.scale-out-enter, .scale-out-leave-to {
   opacity: 0;
   .main__modal-wrapper {
      transform: scale(0.7);
   }
}

.scale-out-enter-to, .scale-out-leave {
   opacity: 1;
   .main__modal-wrapper {
      transform: scale(1);
   }
}

.slide-down-enter, .slide-down-leave-to {
   transform: translateY(10%);
   opacity: 0;
}
