// BASE COLORS

$color-primary: #3A393A;
$color-secondary: #2e2b2e;
$color-tertiary: #A4735C;
$color-text: #E6E5E5;

// BASE SHADOWS

$shadow-xs: 0 0 10px 1px rgba(0, 0, 0, .2);
$shadow-sm: 0 0 16px 1px rgba(0, 0, 0, .3);
